h1{
  color: #39004d;
  text-align: center;
  font-style: bold;
  font-family: "Rockwell";
  border-style: outset;
  border-color: #600080;
}
h2{
  color: #39004d;
  text-align: center;
  font-style: bold;
  font-family: "Segoe UI";
}
body{
  background-color: #e6e6ff;
}
p{
  font-family: "Segoe UI";
  text-align:justify;
}
